<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QRCode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QRCode</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [button]="true" (click)="scan()">
    <ion-card-header>
      <ion-card-title>Scanner</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Scannez un QRCode pour payer votre notaire.
    </ion-card-content>
  </ion-card>

  <ion-card [button]="true">
    <ion-card-header>
      <ion-card-title>Générer un QRCode</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Générez un QRCode pour demander le paiement à votre client.
    </ion-card-content>
  </ion-card>
</ion-content>
